@charset "utf-8";
/* CSS Document */

html, body {
	height: 100%;
}



.page-con {
	min-height: 100%;
	background: -webkit-linear-gradient(left, grey, grey 122px, white 122px, white);
	bottom:0;
}
@media screen and (min-width:767px){
#leftNav { 
	max-width:150px;
}
.column, .columns {  
	padding: 0 0px;
	min-height: 100%;
	bottom:0;
}
body {
	background: -moz-linear-gradient(left, #262b30, #262b30 50%, #f5f6f6, #f5f6f6 );
	background: -webkit-linear-gradient(left, #262b30, #262b30 50%,#f5f6f6, #f5f6f6 );
	background: -o-linear-gradient(left, #262b30, #262b30 50%, #f5f6f6, #f5f6f6 );	
	background: -ms-linear-gradient(left, #262b30, #262b30 50%, #f5f6f6, #f5f6f6 );
}
.content-area {
	padding-left:40px;	
}
.KPITitle {
	margin-top:50px;
	text-align:left;
	margin-left:165px;
	
}

.funnel-top {
	width: 0; 
	height: 0; 
	border-left: 200px solid transparent;
	border-right: 200px solid transparent;
	border-top: 250px solid #79d6f1;
	position:absolute;
	left:20px;
	
}
.rect-top {
	background:#3dcaf2;
	height:200px;
	width: 115px;
	margin-left:142px;
	margin-top:175px;
	position:absolute;
	left:20px;
}
.rect-bottom {
	background:#00bcf2;
	height:200px;
	width: 115px;
	margin-left:142px;
	margin-top:375px;
	position:absolute;
	left:20px;
}
.funnel-top-content {
	margin-left:-15px;
	margin-top:-225px;	
}

.funnel-top-content h5 {
	margin-top:-10px;
	margin-left:-30px;
}

.funnel-middle-content {
	text-align:center;
	margin-top:70px;
	
}

.funnel-middle-content p {
	margin-top:-15px;
	font-weight:bold;
	
}
}
@media screen and (max-width:767px){
.column, .columns {  
	padding: 0 0px;
	bottom:0;
}
body {
	background-color:#f5f6f6; 
}
#appSett {
	float:right;
	margin-top:10px;	
}
.KPITitle {
	margin-top:50px;
	text-align:left;
	margin-left:165px;
	
}

.funnel-top {
	width: 0; 
	height: 0; 
	border-left: 200px solid transparent;
	border-right: 200px solid transparent;
	border-top: 250px solid #79d6f1;
	position:absolute;
	left:0;
	
}
.rect-top {
	background:#3dcaf2;
	height:200px;
	width: 115px;
	margin-left:142px;
	margin-top:175px;
	position:absolute;
	left:0;
}
.rect-bottom {
	background:#00bcf2;
	height:200px;
	width: 115px;
	margin-left:142px;
	margin-top:375px;
	position:absolute;
	left:0;
}
.funnel-top-content {
	margin-left:-15px;
	margin-top:-225px;	
}

.funnel-top-content h5 {
	margin-top:-10px;
	margin-left:-30px;
}

.funnel-middle-content {
	text-align:center;
	margin-top:70px;
	
}

.funnel-middle-content p {
	margin-top:-15px;
	font-weight:bold;
	
}
}

.row {
	margin: 0 0; 
	width:100%;
	min-height: 100%;
	bottom:0;
	
}


.main {
	position:relative;
	background:#FF0;
	min-height: 300px;
}
.nav-bar {
	padding-top:20px;
	background:#262b30;
	/*box-shadow: 10px 0px 10px rgba(0,0,0,0.6);*/
}

.nav-bar > li {
	background:#262b30;
}
.nav-bar > li:hover {
	background:#262b30;
	background: -webkit-linear-gradient(#363d44, #2b3036);
	background: -moz-linear-gradient(#363d44, #2b3036);
	background: -o-linear-gradient(#363d44, #2b3036);
	background: -ms-linear-gradient(#363d44, #2b3036);
	
}
.nav-bar > li.active:hover {
	/*background:-webkit-linear-gradient(#748390, #32383f);*/
	background:-webkit-linear-gradient(#5b6772, #32383f);
	background: -moz-linear-gradient(#5b6772, #32383f);
	background: -o-linear-gradient(#5b6772, #32383f);
	background: -ms-linear-gradient(#5b6772, #32383f);
	border-color: #5e6b78;
}

.nav-bar > li.active { 
	background:-webkit-linear-gradient(#5b6772, #32383f);
	background: -moz-linear-gradient(#5b6772, #32383f);
	background: -o-linear-gradient(#5b6772, #32383f);
	background: -ms-linear-gradient(#5b6772, #32383f);
	border-color: #5e6b78;
}

.top-bar {
	background:#262b30;	
}

.top-bar ul > li:not(.name):hover, .top-bar ul > li:not(.name).active, .top-bar ul > li:not(.name):focus { 
	background: #262b30; 
}

.container {	
	margin: 0px auto;
}

.content-area {
	background-color:#f5f6f6; 
	float:left;
   /*-moz-box-shadow:    inset 0 10px 10px #000000;
   -webkit-box-shadow: inset 0 10px 10px #000000;
   box-shadow:         inset 10px 10px 100px 1px #625959;*/

	
	
	-webkit-box-shadow: rgba(0,0,0,0.4) 10px 0px 10px;
	-moz-box-shadow: rgba(0,0,0,0.4) 10px 0px 10px;
	-o-box-shadow: rgba(0,0,0,0.4) 10px 0px 10px;
	-ms-box-shadow: rgba(0,0,0,0.4) 10px 0px 10px;
	/*box-shadow: rgba(0,0,0,0.6) -1px 1px 24px;*/
	box-shadow: -10px 0px 10px rgba(0,0,0,0.4);
	border-left: 3px;
	border-radius:6px;
	border-right:0px;
	/*padding-left: 40px;*/
	padding-top: 40px;
}

.objContainer {
	border-style: solid;
	border-width: 1px;
	border-color:#CCC;
	padding: 20px 20px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	background-color:#fbfbfb;
	
}

.title {
	background: -moz-linear-gradient(#FFFFFF, #e9eef2);
	background: -webkit-linear-gradient(#FFFFFF, #eff5fb);
	background: -o-linear-gradient(#FFFFFF, #eff5fb);
	background: -ms-linear-gradient(#FFFFFF, #eff5fb);
	padding: 20px 20px;
	border-style: solid;
	border-width: 1px;
	border-color:#CCC;
	padding: 15px 15px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-width:0px;	
}

dd {
	padding: 7px 0;	
}

.update {
	background-color:#262b30;
	border-color:#22272c;
	color:#fff;
	text-shadow:#202529 0 1px 1px;
	background-image:-webkit-linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.25) 2%, rgba(255,255,255,0.06) 50%, rgba(255,255,255,0) 50%);
	background-image:-moz-linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.25) 2%, rgba(255,255,255,0.06) 50%, rgba(255,255,255,0) 50%);
	background-image:-o-linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.25) 2%, rgba(255,255,255,0.06) 50%, rgba(255,255,255,0) 50%);
	background-image:-ms-linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.25) 2%, rgba(255,255,255,0.06) 50%, rgba(255,255,255,0) 50%);
	background-image:linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.25) 2%, rgba(255,255,255,0.06) 50%, rgba(255,255,255,0) 50%);
	-webkit-box-shadow:rgba(255,255,255,0.2) 0 0 1px 1px inset;
	-moz-box-shadow:rgba(255,255,255,0.2) 0 0 1px 1px inset;
	box-shadow:rgba(255,255,255,0.2) 0 0 1px 1px inset;
	-webkit-box-shadow:rgba(255,255,255,0.2) 0 0 1px inset;
	-moz-box-shadow:rgba(255,255,255,0.2) 0 0 1px inset;
	box-shadow:rgba(255,255,255,0.2) 0 0 1px inset;
}

.update:active, .update.active {
	background:#2b3137;
	border-color:rgba(8,9,11,0.8);
	-webkit-box-shadow:rgba(21,24,27,0.9) 0 2px 12px inset;
	-moz-box-shadow:rgba(21,24,27,0.9) 0 2px 12px inset;
	-ms-box-shadow:rgba(21,24,27,0.9) 0 2px 12px inset;
	-o-box-shadow:rgba(21,24,27,0.9) 0 2px 12px inset;
	box-shadow:rgba(21,24,27,0.9) 0 2px 12px inset
}
.update:active {
	-webkit-box-shadow:rgba(0,0,0,0.9) 0 2px 12px inset, rgba(255,255,255,0.1) 0 0 0 1px;
	-moz-box-shadow:rgba(0,0,0,0.9) 0 2px 12px inset, rgba(255,255,255,0.1) 0 0 0 1px;
	-ms-box-shadow:rgba(0,0,0,0.9) 0 2px 12px inset, rgba(255,255,255,0.1) 0 0 0 1px;
	-o-box-shadow:rgba(0,0,0,0.9) 0 2px 12px inset, rgba(255,255,255,0.1) 0 0 0 1px;
	box-shadow:rgba(0,0,0,0.9) 0 2px 12px inset, rgba(255,255,255,0.1) 0 0 0 1px
}


.update{
	line-height:0.90em;
	margin:0;
	text-decoration:none;
	text-align:center;
	margin-bottom:.3em;
	cursor:pointer;
	padding:.4em 1.2em;
	display:inline-block;
	border-width:1px;
	border-style:solid;
	-webkit-border-radius:0.3em;
	-moz-border-radius:0.3em;
	-ms-border-radius:0.3em;
	-o-border-radius:0.3em;
	border-radius:0.3em;
	height:30px;
	font-size:17px;
	font-weight:bold;
}
.update:active, .update:hover {
	outline:none	
}
.update:focus{
	outline:none
}
.update::-moz-focus-inner{
border:none;
padding:0
}
label {
	font-weight:bold;
}

.hidden {
	visibility:hidden;
	margin-top:-45px;	
}

.httpparameter a {
	font-size:24px;	
  	cursor:pointer;
}


code,
pre {
  /*padding: 0 3px 2px;
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 12px;
  color: #333333;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;*/
}
code {
  padding: 2px 4px;
  color: #d14;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}
pre {
	background-color:#000;
	font-family:"Courier New", Courier, monospace;
	font-size:17px;  
	display: block;
	white-space: pre;
	white-space: pre-wrap;
	word-break: break-all;
	word-wrap: break-word;
  
  
  /* 
  padding: 8.5px;
  margin: 0 0 9px;
  font-size: 12.025px;
  line-height: 18px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #fbfbfb;
  
        <pre id="statuspre">sdfgsdfgdsf</pre>
      <pre id="outputpre">bncvnxcbvn</pre>
      <pre id="headerpre"></pre>*/
}
#statuspre {
	color:#0F0;
	border-style:solid;
	border-color:#999;
	border-width:2px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-width:0px;
	padding:15px 15px;
	
}

#outputpre {
	color:#FFF;
	border-left: 2px solid #999;
	border-right: 2px solid #999;
	padding:7px 15px;
}

#headerpre {
	color:#00F;
	border-left: 2px solid #999;
	border-right: 2px solid #999;
	border-bottom: 2px solid #999;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
	padding:15px 15px;
}


pre.prettyprint {
  margin-bottom: 18px;
}
pre code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: 0;
}
.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}

/*.funnel-top {
	width: 0; 
	height: 0; 
	border-left: 12.5em solid transparent;
	border-right: 12.5em solid transparent;
	border-top: 12.5em solid #79d6f1;
	-webkit-border-radius:1em;
	-moz-border-radius:1em;
	-ms-border-radius:1em;
	-o-border-radius:1em;
}
.rect-top {
	background:#3dcaf2;
	height:6.25em;
	width: 6.25em;
	margin-left:9.375em;
	margin-top:-3.125em;	
}
.rect-bottom {
	background:#00bcf2;
	height:6.25em;
	width: 6.25em;
	margin-left:9.375em;
}*/

/*.funnel-top {
	width: 0; 
	height: 0; 
	border-left: 200px solid transparent;
	border-right: 200px solid transparent;
	border-top: 200px solid #79d6f1;
	-webkit-border-radius:1em;
	-moz-border-radius:1em;
	-ms-border-radius:1em;
	-o-border-radius:1em;
}
.rect-top {
	background:#3dcaf2;
	height:100px;
	width: 100px;
	margin-left:150px;
	margin-top:-50px;	
}
.rect-bottom {
	background:#00bcf2;
	height:100px;
	width: 100px;
	margin-left:150px;	
}*/

.billInfo label{
	padding: 7px 0px 12px  0px;		
}

.billInfo input{
	padding: 7px 0;		
}

.appListDiv select{
	padding: 5px 5px;
	
}

.appListDiv label{
	padding: 5px 5px;
	
}

.jqx-grid-pager-input {
	text-align:center !important;
	height: 19px !important;
}

.jqx-grid-column-header {
	overflow:visible !important;
	
}

#billingcountry {
	padding: 7px 7px;
}
#billingmonth {
	padding: 7px 7px;
}
#billingyear {
	padding: 7px 7px;
}

.stats {
	padding-top: 40px;
}

h1, h2, h3, h4, h5, p{
	color:#4c576f;
}


select {

    
}
/*style="float:left; margin-left:5em;"*/
.app_selector {
	background-image:-webkit-linear-gradient(top, #ecedee 0, #ecedee 50%, #dee0e2 50%, #d1d4d7 100%);
	background-image:-moz-linear-gradient(top, #ecedee 0, #ecedee 50%, #dee0e2 50%, #d1d4d7 100%);
	background-image:-o-linear-gradient(top, #ecedee 0, #ecedee 50%, #dee0e2 50%, #d1d4d7 100%);
	background-image:-ms-linear-gradient(top, #ecedee 0, #ecedee 50%, #dee0e2 50%, #d1d4d7 100%);
	background-image:linear-gradient(top, #ecedee 0, #ecedee 50%, #dee0e2 50%, #d1d4d7 100%);
	
	-moz-box-shadow:rgba(255,255,255,0.5) 0 1px 0 0 inset, rgba(255,255,255,0.2) 0 1px 0 0;
	-webkit-box-shadow:rgba(255,255,255,0.5) 0 1px 0 0 inset, rgba(255,255,255,0.2) 0 1px 0 0;
	-o-box-shadow:rgba(255,255,255,0.5) 0 1px 0 0 inset, rgba(255,255,255,0.2) 0 1px 0 0;
	box-shadow:rgba(255,255,255,0.5) 0 1px 0 0 inset, rgba(255,255,255,0.2) 0 1px 0 0;
	
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	-khtml-border-radius:5px;
	border-radius:5px;
	
	border:1px solid #969595;
	font-size:15px;
	padding:6px 9px;
	height: 35px;	
}

.app_selector option {
	color:#ffffff;
	background-color:#686868;
	font-size:14px;
	padding: 7px 7px !important;
	border-style: solid;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-left-width: 0px;
	border-right-width: 0px;	
}
.table_selector{
	background-color:#e8e6e6;	
	color:#333333;
}

.table_selector option {
	padding:7px 7px;
}

.table_selector option:hover {
	color:#ffffff;
	background: -moz-linear-gradient(#71c2f9, #2c8af1);
	background: -webkit-linear-gradient(#71c2f9, #2c8af1);
	background: -o-linear-gradient(#71c2f9, #2c8af1);
	background: -ms-linear-gradient(#71c2f9, #2c8af1);	
}

.table_selector option:select {
	color:#ffffff;
	background: -moz-linear-gradient(#16a3e4, #0562c8);
	background: -webkit-linear-gradient(#16a3e4, #0562c8);
	background: -o-linear-gradient(#16a3e4, #0562c8);
	background: -ms-linear-gradient(#16a3e4, #0562c8);	
}
.grid-container {
	height: 402px; 
	overflow-y: scroll;
	 background-color:#ffffff;
}
select::-webkit-scrollbar { 
    display: none; 
}
#appSett {
	float:right;	
}
#appSettingsModal table{
	margin-left:auto;
	margin-right:auto;
}

#stripeConnectList {
	width:auto;
}

.urlInput {
	padding: 70px 70px;
	font-size:24px;
}