@charset "utf-8";
/* CSS Document */

/* override top-bar to... */  
.top-bar { 

} 

/* sets the width of the page content and centers it */
.container {
	max-width:960px;	
	margin: 0px auto;
}
/* Gives the appearance that the nav bar still spans the entire width */
.headerbackground {
	background-color:#222222;
}

/* override panel to keep it centered and remove top space */
.panel { 
	margin: 22px auto;
	margin-top: 0px;
}

.callout {
	margin: 22px auto;
	margin-top: 0px;
}

.radius {
	margin: 22px auto;
	margin-top: 0px;	
}



/* video player settings */
.flex-video {
	margin-top:35px;	
}

/* Hide the timer for orbit */
.timer {
	visibility:hidden;	
}

/* Hide Nav arrows  */
.slide .slider-nav  {
	visibility:hidden;	
}

.row img {
	margin: 0px auto;
}

.intro {
	background-color:#00bcf2;
	margin: 22px auto;
	margin-top: 0px;
	padding: 20px;
}
.center {
	text-align:center;	
}

.button {
	background:#00bcf2;
}

.button:hover, .button:focus { 
	color: white; 
	background-color:#03a3d1; 
}


.pricing-table .title { 
	 background: #eaf0f8;
	 border: 1px solid #ced2d7;
	 height: 100px;
}
.pricing-table .title h1{ 
	 font-size:24px;
	 padding-top:0px;
	 margin-top:0px;
}

.pricing-table .bullet-item {
	background: #eaf0f8;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #ced2d7;
	height: 85px;
	padding-top:20px;	
}



.pricing-table .title p.styledprice{ 
	background: #a1b6d1; 
	background: -moz-linear-gradient(top, #a1b6d1 0%, #bac9de 100%); 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a1b6d1), to(#bac9de)); 
	border: 1px solid #8e9daf; 
	border-top: 1px solid #7a8a9f; 
	border-bottom: 1px solid #b0bed1; 
	text-shadow: rgba(0, 0, 0, 0.75) 0px 0px 2px; 
	display: block;
	-moz-box-shadow: #a0b1c8 0 1px 0 0 inset; 
	-webkit-box-shadow: #a0b1c8 0 1px 0 0 inset;
	-o-box-shadow: #a0b1c8 0 1px 0 0 inset; 
	-ms-box-shadow: #a0b1c8 0 1px 0 0 inset; 
	-khtml-box-shadow: #a0b1c8 0 1px 0 0 inset; 
	box-shadow: #a0b1c8 0 1px 0 0 inset; 
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px;
	-o-border-radius: 3px; 
	-ms-border-radius: 3px; 
	-khtml-border-radius: 3px; 
	border-radius: 3px; 
	color: #f9f9f9; 
	font-weight: 600; 
	line-height: 1em; 
	padding: 0.6em 0 0.5em;
	margin: 10px 0; 
	text-align: center; 
	text-decoration: none!important;
	position: relative; 
	display: block;
	float: none; 
	margin-left: auto;
	margin-right: auto;
	width: 125px; 
	font-weight: bold; 
	font-size:16px;
	padding: 0.4em 0 0.3em; 
	letter-spacing: 0.045em; 
}


button.signup {
	-moz-box-shadow:inset 0px 0px 0px -1px #000000;
	-webkit-box-shadow:inset 0px 0px 0px -1px #000000;
	box-shadow:inset 0px 0px 0px -1px #000000;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #61c261), color-stop(1, #52a552) );
	background:-moz-linear-gradient( center top, #61c261 5%, #52a552 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#61c261', endColorstr='#52a552');
	background-color:#61c261;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:3px 10px;
	text-decoration:none;
	text-shadow:1px 1px 0px #706f70;
	border:0px;
	border-top: 1px solid #c9ffc9;
	max-height:25px;
	
	
}button.signup:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #52a552), color-stop(1, #61c261) );
	background:-moz-linear-gradient( center top, #52a552 5%, #61c261 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#52a552', endColorstr='#61c261');
	background-color:#52a552;
}button.signup:active {
	position:relative;
	top:1px;
}

button.login {
	-moz-box-shadow:inset 0px 0px 0px -1px #bbdaf7;
	-webkit-box-shadow:inset 0px 0px 0px -1px #bbdaf7;
	box-shadow:inset 0px 0px 0px -1px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0081cc), color-stop(1, #004bcc) );
	background:-moz-linear-gradient( center top, #0081cc 5%, #004bcc 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0081cc', endColorstr='#004bcc');
	background-color:#0081cc;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:3px 10px;
	text-decoration:none;
	text-shadow:1px 1px 0px #888b8f;
	border:0px;
	border-top: 1px solid #96d1f8;
	max-height:25px;	
	
}button.login:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #004bcc), color-stop(1, #0081cc) );
	background:-moz-linear-gradient( center top, #004bcc 5%, #0081cc 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#004bcc', endColorstr='#0081cc');
	background-color:#004bcc;
}button.login:active {
	position:relative;
	top:1px;
}
.top-bar ul > li a.np { 
	padding: 0 0px;
	padding-right: 5px;
	padding-top: 2px;
}
img{
	 cursor: hand; 
	 cursor: pointer;
}
.sNav p {
	padding: 10px 10px;
	margin: 0px 0px;
	font-weight: bold; 
	font-size:16px;	
}
.custFixed {
position: fixed !important;
top: 10px;
max-width:235px;
}

.docNavItem {
	padding:10px 10px;
	border-radius: 3px;		
}
.docNavItem a{
	color:#1f75cc;
}

.toc-selected {
	background:#00bcf2;
	color:#FFF;
}

.toc-selected  a{
	color:#FFF;	
}

