#outputframe{
  height: 600px;
  border: 1px lightgray solid;  
}

#outputpre{
  min-height: 350px;
}

#headerpre{
  min-height: 100px;
}

#allparameters{
  display: none;
}

#allheaders{
  display: none;
}

#formspinner, #ajaxspinner, #outputframe{
  display: none;
}

#urlvalue{
	width: 460px;
}

.cookiebutton{
	float: right;
}

#submitform, #submitblank{
	margin-right: 5px;
	margin-bottom: -10px;
}