
.animated {
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-ms-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-ms-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
}

.animated.hinge {
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
}

@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeInDown {
	0% {
		opacity: 0;
		-moz-transform: translateY(-20px);
	}
	
	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes fadeInDown {
	0% {
		opacity: 0;
		-ms-transform: translateY(-20px);
	}
	
	100% {
		opacity: 1;
		-ms-transform: translateY(0);
	}
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}
	
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.fadeInDown {
	-webkit-animation-name: fadeInDown;
	-moz-animation-name: fadeInDown;
	-o-animation-name: fadeInDown;
	-ms-animation-name: fadeInDown;
	animation-name: fadeInDown;
}


body { 
	background-color:#222; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;	
	position:relative;
	min-height:100%;	
}

#login {
	padding: 0 0 20px;
	margin: 0 auto;
	min-height: 0;	
	height: 0px;;
}

html, body {
	height: 100%;
}

p {
	font-size:12px;
}

#login .data {
	padding:0 0 20px;
	margin:10% auto;
	min-height:0;	
	position:  absolute;
	margin-left: -200px;	
	width: 400px;
	left: 50%;
	top: 50%;		
}

#login .content {
	-webkit-animation: fadeInDown 0.7s 0.5s ease both 1;
	-moz-animation: fadeInDown 0.7s 0.5s ease both 1;
	-ms-animation: fadeInDown 0.7s 0.5s ease both 1;
	-o-animation: fadeInDown 0.7s 0.5s ease both 1;
	animation: fadeInDown 0.7s 0.5s ease both 1;
	position: relative;
	margin: 0 15px;
	overflow: visible;
	padding: 0;
	background: none;
	-webkit-box-shadow: rgba(0,0,0,0.8) 0 1px 30px;
	-moz-box-shadow: rgba(0,0,0,0.8) 0 1px 30px;
	box-shadow: rgba(0,0,0,0.8) 0 1px 30px;
	max-width:350px;
	
}

.login-form {
	margin: 1em 0;
	max-width:300px
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	-ms-border-radius: 0.5em;
	-o-border-radius: 0.5em;
	border-radius: 0.5em;
	background: #fff;
	
}

.login-form:before {
	content: "";
	position: absolute;
	top: 10px;
	left: -10px;
	bottom: 10px;
	width: 10px;
	-webkit-box-shadow: rgba(0,0,0,0.6) -1px 0 4px inset;
	-moz-box-shadow: rgba(0,0,0,0.6) -1px 0 4px inset;
	-ms-box-shadow: rgba(0,0,0,0.6) -1px 0 4px inset;
	box-shadow: rgba(0,0,0,0.6) -1px 0 4px inset;
	-moz-border-radius-topleft: 0.5em;
	-webkit-border-top-left-radius: 0.5em;
	-ms-border-top-left-radius: 0.5em;
	border-top-left-radius: 0.5em;
	-moz-border-radius-bottomleft: 0.5em;
	-webkit-border-bottom-left-radius: 0.5em;
	-ms-border-bottom-left-radius: 0.5em;
	border-bottom-left-radius: 0.5em
}

.login-form:after {
	content: "";
	position: absolute;
	top: 10px;
	bottom: 10px;
	right: -10px;
	width: 10px;
	-webkit-box-shadow: rgba(0,0,0,0.6) 1px 0 4px inset;
	-moz-box-shadow: rgba(0,0,0,0.6) 1px 0 4px inset;
	-ms-box-shadow: rgba(0,0,0,0.6) 1px 0 4px inset;
	box-shadow: rgba(0,0,0,0.6) 1px 0 4px inset;
	-moz-border-radius-topright: 0.5em;
	-ms-border-radius-topright: 0.5em;
	-webkit-border-top-right-radius: 0.5em;
	border-top-right-radius: 0.5em;
	-moz-border-radius-bottomright: 0.5em;
	-ms-border-radius-bottomright: 0.5em;
	-webkit-border-bottom-right-radius: 0.5em;
	border-bottom-right-radius: 0.5em
}

.login-form:before, .login-form:after {
	background-image: -webkit-linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.3) 5%, rgba(255,255,255,0.1) 50%, rgba(255,255,255,0) 50%), -webkit-linear-gradient(bottom, #00bcf2 0%, #00bcf2 100%);
	background-image: -moz-linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.3) 5%, rgba(255,255,255,0.1) 50%, rgba(255,255,255,0) 50%), -moz-linear-gradient(bottom, #00bcf2 0%, #00bcf2 100%);
	background-image: -o-linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.3) 5%, rgba(255,255,255,0.1) 50%, rgba(255,255,255,0) 50%), -o-linear-gradient(bottom, #00bcf2 0%, #00bcf2 100%);
	background-image: -ms-linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.3) 5%, rgba(255,255,255,0.1) 50%, rgba(255,255,255,0) 50%), -o-linear-gradient(bottom, #00bcf2 0%, #00bcf2 100%);
	background-image: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.3) 5%, rgba(255,255,255,0.1) 50%, rgba(255,255,255,0) 50%), linear-gradient(bottom, #00bcf2 0%, #00bcf2 100%);
	
}

.login-form {
	padding:40px;
	
	padding-top:30px;
}

.SignInButton {
	background-color:#222222;
	border-color:#22272c;
	color:#fff;
	text-shadow:#202529 0 1px 1px;
	background-image:-webkit-linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.25) 2%, rgba(255,255,255,0.06) 50%, rgba(255,255,255,0) 50%);
	background-image:-moz-linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.25) 2%, rgba(255,255,255,0.06) 50%, rgba(255,255,255,0) 50%);
	background-image:-o-linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.25) 2%, rgba(255,255,255,0.06) 50%, rgba(255,255,255,0) 50%);
	background-image:-ms-linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.25) 2%, rgba(255,255,255,0.06) 50%, rgba(255,255,255,0) 50%);
	background-image:linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.25) 2%, rgba(255,255,255,0.06) 50%, rgba(255,255,255,0) 50%);
	-webkit-box-shadow:rgba(255,255,255,0.2) 0 0 1px 1px inset;
	-moz-box-shadow:rgba(255,255,255,0.2) 0 0 1px 1px inset;
	box-shadow:rgba(255,255,255,0.2) 0 0 1px 1px inset;
	-webkit-box-shadow:rgba(255,255,255,0.2) 0 0 1px inset;
	-moz-box-shadow:rgba(255,255,255,0.2) 0 0 1px inset;
	box-shadow:rgba(255,255,255,0.2) 0 0 1px inset
}

.SignInButton:active, .SignInButton.active {
	background:#2b3137;
	border-color:rgba(8,9,11,0.8);
	-webkit-box-shadow:rgba(21,24,27,0.9) 0 2px 12px inset;
	-moz-box-shadow:rgba(21,24,27,0.9) 0 2px 12px inset;
	-ms-box-shadow:rgba(21,24,27,0.9) 0 2px 12px inset;
	-o-box-shadow:rgba(21,24,27,0.9) 0 2px 12px inset;
	box-shadow:rgba(21,24,27,0.9) 0 2px 12px inset
}
.SignInButton:active {
	-webkit-box-shadow:rgba(0,0,0,0.9) 0 2px 12px inset, rgba(255,255,255,0.1) 0 0 0 1px;
	-moz-box-shadow:rgba(0,0,0,0.9) 0 2px 12px inset, rgba(255,255,255,0.1) 0 0 0 1px;
	-ms-box-shadow:rgba(0,0,0,0.9) 0 2px 12px inset, rgba(255,255,255,0.1) 0 0 0 1px;
	-o-box-shadow:rgba(0,0,0,0.9) 0 2px 12px inset, rgba(255,255,255,0.1) 0 0 0 1px;
	box-shadow:rgba(0,0,0,0.9) 0 2px 12px inset, rgba(255,255,255,0.1) 0 0 0 1px
}


.SignInButton{
	line-height:1.45em;
	margin:0;
	text-decoration:none;
	text-align:center;
	margin-bottom:.3em;
	cursor:pointer;
	padding:.4em 1.2em;
	display:inline-block;
	border-width:1px;
	border-style:solid;
	-webkit-border-radius:0.3em;
	-moz-border-radius:0.3em;
	-ms-border-radius:0.3em;
	-o-border-radius:0.3em;
	border-radius:0.3em;
	min-width: 100%;
	height:50px;
	font-size:20px;
	font-weight:bold;
}
.SignInButton:active, .SignInButton:hover {
	outline:none	
}
.SignInButton:focus{
	outline:none
}
.SignInButton::-moz-focus-inner{
border:none;
padding:0
}
label {
	font-weight:bold;
	font-size:14px;
	color:#222;
}

#error {
	background-color:#F00;
	margin-top:-15px;
	margin-bottom:25px;
	color:#FFF;
	text-align:center;
	padding: 15px;
	background-color:#222222;
	border-style: solid;
	
	background-image:-moz-linear-gradient(#545454, #222222);
	background-image:-webkit-linear-gradient(#545454, #222222);
	background-image:-o-linear-gradient(#545454, #222222);
	background-image:-ms-linear-gradient(#545454, #222222);
	
	-webkit-box-shadow: rgba(0,0,0,0.4) 2px 3px 10px;	
	-moz-box-shadow: rgba(0,0,0,0.4) 2px 3px 10px;	
	-o-box-shadow: rgba(0,0,0,0.4) 2px 3px 10px;
	-ms-box-shadow:  rgba(0,0,0,0.4) 2px 3px 10px;
	
	border-width: 3px;
	border-color:#CCC;	
}

#plan {
	width:75%;
	padding: 7px 7px;
		
}

#planPrice {
	width:20%; 
	float:right;
	padding: 7px 7px;
}

select{
	padding: 7px 7px;
	
}

#imgLoading{
position:absolute;
}